**
!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!web/
!web/package.json
!web/pnpm-lock.yaml
!web/pnpm-workspace.yaml
!web/index.html
!web/tsconfig.json
!web/vite.config.ts
!web/src/
!web/src/**
